<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Каталог</title>
    </head>
    <body>
        <center>
            <h1>Каталог Супермаркета</h1>
            <form action="/catalog/name-filter">
                <input type="submit" value="Поиск по наименованию">
            </form>
            <form action="/catalog/category-filter">
                <input type="submit" value="Поиск по категории">
            </form>
            <form action="/catalog/price-filter">
                <input type="submit" value="Поиск по цене">
            </form>
            <form action="/">
                <input type="submit" value="Вернуться назад">
            </form>
        </center>
    </body>
</html>