<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Супермаркет</title>
    </head>
    <body>
        <center>
            <h3> Выберите действие</h1>
            <form action="/report/create">
                <input type="submit" value="Создать отчет">
            </form>
            <form action="/report/check">
                <input type="submit" value="Посмотреть отчет">
            </form>
            <form action="/">
                <input type="submit" value="Вернуться">
            </form>
        </center>
    </body>
</html>