<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Профиль сотрудника</title>
    </head>
    <body>
        <center>
            <form action="/stats">
                <input type="submit" value="Статистика">
            </form>
            <form action="/bills">
                <input type="submit" value="Счета">
            </form>
            <form action="/deliveries">
                <input type="submit" value="Поставки">
            </form>
            <form action="/employees">
                <input type="submit" value="Сотрудники">
            </form>
            <form action="/">
                <input type="submit" value="Вернуться">
            </form>
        </center>
    </body>
</html>